@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  body {
    @apply bg-[#4ee19f12];
  }
  h1 {
    @apply font-space-grotesk text-[88px] leading-[88px] tracking-[-2.5px] font-bold 2bp:text-7xl 6bp:text-5xl 9bp:text-[46px];
  }
  h2 {
    @apply font-space-grotesk text-5xl tracking-[-1.5px] font-bold 2bp:text-4xl 6bp:text-3xl 8bp:text-2xl;
  }
  h3 {
    @apply font-space-grotesk text-2xl tracking-[-2.5px] font-bold;
  }
  .text {
    @apply font-space-grotesk text-lg font-medium;
  }
  .inputClass {
    @apply outline-none w-[445px] border-b-[1px] border-b-[#0d101180] pb-4 bg-[transparent] 7bp:w-[345px];
  }
  .error-message {
    @apply font-space-grotesk font-bold text-xs text-bright-red;
  }
  .error-border {
    @apply border-b-bright-red border-b-[1px];
  }
  .valid-border {
    @apply border-b-desaturated-cyan border-b-[1px];
  }
}

/* p::selection {
  background: #dde940;
  color: #4ee19f1d;
} */
